<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
  Overblik over udvalg og møder
</title>
</head>
<body>
<ul>
  {% for committee_name, subcommittees in response.Udvalg|items %}
  <li>
    <p>
      {{ committee_name }}
      {% for subcommittee in subcommittees %}
        {% set subcommittee_name = subcommittee.Navn %}
      <ul>
        <li>
          <p>
            Udvalg: <b>{{ subcommittee_name }}</b>
            <ul>
            {% for meeting in subcommittee.Moeder %}
            {% set place = meeting.Sted %}
              <li>
                Møde: <a href="meeting/{{ meeting.Id }}"
                        data-true-url="{{ instance }}vis?id={{ meeting.Id }}">{{ place }} den {{ meeting.Dato|datetimeformat }}</a>
              </li>
            {% endfor %}
            </ul>
      </ul>
      {% endfor %}
  </li>
  {% endfor %}
</ul>
</body>
</html>
