<!doctype html>
<html>
<head>
<title>
  {% for agenda_point in response.Dagsordenpunkter %}{% if agenda_point.Caption %}{{ agenda_point.Caption.strip() }}{% if not loop.last %}; {% endif %}{% endif %}{% endfor %}
</title>
</head>
<body>
<h1>
  {{ response.Moede.Navn }}
</h1>
<ul>
  {% for agenda_point in response.Dagsordenpunkter %}
  <li>
    {% if agenda_point.Caption %}
    <h2>
      {{ agenda_point.Caption }}
    </h2>
    {% endif %}

    {% if agenda_point.Felter %}
      {% for field in agenda_point.Felter %}
    <div>
      {% if field.Html %}
        {{ field.Html|safe }}
      {% elif field.Tekst %}
        {{ field.Tekst }}
      {% endif %}
    </div>
      {% if field.DocumentId
            and field.DocumentId != "00000000-0000-0000-0000-000000000000" %}
      {# All-zero document IDs appear to be an indication that a document
         exists, but has been sealed from publication #}
    <div>
      <a href="/meeting/{{ meeting_id }}/attachment/pdf/{{ field.DocumentId }}">{{ field.DocumentId }}</a>
    </div>
      {% endif %}
      {% endfor %}
    {% endif %}

    {% if agenda_point.Bilag %}
    <ol>
      {% for attachment in agenda_point.Bilag %}
        <li>
          <a href="/meeting/{{ meeting_id }}/attachment/pdf/{{ attachment.Id }}">{{ attachment.Navn }}</a>
        </li>
      {% endfor %}
    </ol>
    {% endif %}    
  </li>
  {% endfor %}
</ul>
</body>
</html>
